# pandas 
## its has 2 core data structure :-- series and data frame

In [ ]:
# series:- 1d-->labelled data array can ve compared with dictionary but dic is slow bec panda use vectorization operations .
#data frame --> 2d labelled table.
# web api can be created using pandas instead sql,excel etc.
#built on top of numpy

In [6]:
#creating series
import pandas as pd
s=pd.Series([45,26,35,49,66,74,33])

In [7]:
type(s)

pandas.core.series.Series

In [8]:
print(s) #automatically indexing

0    45
1    26
2    35
3    49
4    66
5    74
6    33
dtype: int64

In [11]:
#manually indexing 
s1=pd.Series([33,56,78,90,87,65],index=["A","B","C","D","E","F"])
print(s1)

A    33
B    56
C    78
D    90
E    87
F    65
dtype: int64

In [13]:
print(s1["A"])
s1["D"]

33

90

# DataFrame — 2D Labeled Table
A DataFrame is like a dictionary of Series — multiple columns with labels

In [14]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [23]:
print(data["name"][0])
print(data["name"])

Alice
['Alice', 'Bob', 'Charlie']

In [24]:
df.index # Row labels

RangeIndex(start=0, stop=3, step=1)

In [25]:
df.columns #col labels

Index(['name', 'age', 'city'], dtype='object')

In [42]:
df.columns = ["A", "B", "C"

In [49]:
print(df.columns)
df = pd.DataFrame(data)
print(df)

Index(['name', 'age', 'city'], dtype='object')
Index(['name', 'age', 'city'], dtype='object')

In [47]:
df.rename(columns={"name": "A","age" :"B","city": "C"})

         A   B          C
0    Alice  25      Delhi
1      Bob  30     Mumbai
2  Charlie  35  Bangalore